<h1>
  {{ formGroup.controls.number.value }}
  <sup>/ {{ totalWeeks }}</sup>
  game of year
</h1>

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Number</mat-label>
    <mat-select formControlName="number">
      <mat-option [value]="1">1</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Season</mat-label>
    <mat-select formControlName="season">
      <mat-option [value]="2024">2024</mat-option>
      <mat-option [value]="2023">2023</mat-option>
      <mat-option [value]="2022">2022</mat-option>
      <mat-option [value]="2021">2021</mat-option>
      <mat-option [value]="2020">2020</mat-option>
      <mat-option [value]="2019">2019</mat-option>
      <mat-option [value]="2018">2018</mat-option>
      <mat-option [value]="2017">2017</mat-option>
      <mat-option [value]="2016">2016</mat-option>
      <mat-option [value]="2015">2015</mat-option>
      <mat-option [value]="2014">2014</mat-option>
      <mat-option [value]="2013">2013</mat-option>
      <mat-option [value]="2012">2012</mat-option>
      <mat-option [value]="2011">2011</mat-option>
      <mat-option [value]="2010">2010</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="enumGameStatus.New">
        {{ enumGameStatus.New | uppercase }}
      </mat-option>
      <mat-option [value]="enumGameStatus.Draft">
        {{ enumGameStatus.Draft | uppercase }}
      </mat-option>
      <mat-option [value]="enumGameStatus.Published">
        {{ enumGameStatus.Published | uppercase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      placeholder="Choose a date"
      formControlName="playedAt"
      [matDatepicker]="picker"
      [matDatepickerFilter]="isSaturday"
      [min]="minDate"
      [max]="maxDate"
      [value]="lastSaturday"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
    >
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <sup>{{ playedAtFC.value | date }}</sup>
  </mat-form-field>
</form>

@if (newGameStore.loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<ol>
  <!-- <li>Several captains are disabled</li> -->
  <li>Several captains as 'C'</li>
  <li>Not all players are in player FC</li>
</ol>

<section class="row">
  <sfl-game-team-create></sfl-game-team-create>
  <sfl-game-team-create></sfl-game-team-create>
</section>

<button
  mat-raised-button
  color="primary"
  (click)="save()"
>
  Save
</button>
