<h1>Select Captain (Team: {{ team }})</h1>

<p>{{ captains$ | async | json }}</p>
<p>{{ captainsWithoutTeam$ | async | json }}</p>
<p>{{ selectedCaptain$ | async | json }}</p>

<ng-container
  *ngIf="(selectedCaptain$ | async)! as captain; else captainsCorousel"
>
  <sfl-captain-stats-card
    [captain]="captain"
    [class.active]="true"
  ></sfl-captain-stats-card>
  <button mat-flat-button color="warn" (click)="deleteSelected(captain.id)">
    Reset
  </button>
</ng-container>

<ng-template #captainsCorousel>
  <div class="captains-corousel">
    <sfl-captain-stats-card
      *ngFor="let captain of captainsWithoutTeam$ | async; let odd = odd"
      [captain]="captain"
      [attr.data-captain-id]="captain.id"
      [class.odd]="odd"
    ></sfl-captain-stats-card>
  </div>
</ng-template>
