<div>
  <div class="">Captain 1</div>
  <div class="players">
    <sfl-player-stats-card
      *ngFor="let player of playerTeamA$ | async; let index = index"
      [player]="player"
    >
      <ng-container *ngIf="index === 0 && currentTeam$() === teamEnum.TeamB">
        <button
          mat-stroked-button
          color="warn"
          (click)="deleteSelected(player.id)"
        >
          Return back
        </button>
      </ng-container>
    </sfl-player-stats-card>
  </div>
</div>
<div>
  <div class="">=== To choose ===</div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Choose to team 1 -->
    <ng-container matColumnDef="<">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-stroked-button
          color="primary"
          (click)="addIntoTeam(element, teamEnum.TeamA)"
          class="button button-left"
          [disabled]="currentTeam$() === teamEnum.TeamB"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Choose to team 2 -->
    <ng-container matColumnDef=">">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-stroked-button
          color="primary"
          (click)="addIntoTeam(element, teamEnum.TeamB)"
          class="button button-right"
          [disabled]="currentTeam$() === teamEnum.TeamA"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img
          class="avatar"
          src="https://picsum.photos/id/{{ element.avatar }}/200/300"
        />
      </td>
    </ng-container>

    <!-- Sort columns -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="surname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by surname"
      >
        Surname
      </th>
      <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nickname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by nickname"
      >
        Nickname
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nickname }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div>
  <div class="">Captain 2</div>
  <div class="players">
    <sfl-player-stats-card
      *ngFor="let player of playerTeamB$ | async; let index = index"
      [player]="player"
    >
      <ng-container *ngIf="index === 0 && currentTeam$() === teamEnum.TeamA">
        <button
          mat-stroked-button
          color="warn"
          (click)="deleteSelected(player.id)"
        >
          Return back
        </button>
      </ng-container>
    </sfl-player-stats-card>
  </div>
</div>

<noscript>
  <h4>Make new Match easier:</h4>
  <ol>
    <li>Idea 1: Table with toggles to include/exclude captains</li>
    <li>Idea 2: Table with toggles to include/exclude players</li>
    <li>
      Idea Idea 3: Make CRUD of:
      <ul>
        <li>captains</li>
        <li>players</li>
        <li>matchs</li>
      </ul>
    </li>
  </ol>
</noscript>
