:host ::ng-deep .additional-data .mat-expansion-panel-body {
  display: grid;
  padding: 0 10px;
  margin: 0;
  gap: 0;
}

.card-team-actions {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

form {
  & fieldset {
    border: none;
    display: grid;
    gap: 4px 12px;
    padding: 8px 0px;

    &.in-row {
      display: flex;
    }
  }
  /* 
  .additional-data .mat-expansion-panel-body {
    display: grid;
    padding: 0;
    margin: 0;
    gap: 0;
  } */
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 10px;
}

.drag-wrapper {
  background-color: #ccc;
  padding: 1em;
}

.drag-box {
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.drag-box:active {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.validation-errors {
  margin: 20px 0;
  padding: 20px;
  background-color: lightcoral;
  color: color(tomato);
  border: 1px solid color(rgba tomato 0.3);
}

.mdc-linear-progress__buffer {
  height: 440px;
}
