<p></p>
<h1>
  {{ modeSignal() === 'create' ? 'Create' : 'Edit' }}
  game
  {{ formGroup.controls.number.value }}
  <sup>/ {{ totalWeeks() }}</sup>
  ({{ playedAt() | date: 'dd/MM/yyyy' }})
</h1>
<mat-divider></mat-divider>

<br />

<div class="actions">
  @switch (modeSignal()) {
    @case ('create') {
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid || !isFormChangedSignal()"
        (click)="save()"
      >
        Save
      </button>
    }
    @case ('edit') {
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid || !isFormChangedSignal()"
        (click)="update()"
      >
        Update
      </button>
    }
  }

  <button
    mat-raised-button
    color="warn"
    [disabled]="!gameId || isFormChangedSignal()"
    (click)="delete()"
  >
    Delete
  </button>
</div>

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Season</mat-label>
    <mat-select formControlName="season">
      @for (season of seasons(); track season) {
        <mat-option [value]="season">{{ season }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number</mat-label>
    <mat-select formControlName="number">
      @for (number of numbers(); track number) {
        <mat-option [value]="number">{{ number }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select
      formControlName="status"
      [disabled]="true"
    >
      <mat-option [value]="enumGameStatus.New">
        {{ enumGameStatus.New | uppercase }}
      </mat-option>
      <mat-option [value]="enumGameStatus.Published">
        {{ enumGameStatus.Published | uppercase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- 
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      placeholder="Choose a date"
      formControlName="playedAt"
      [matDatepicker]="picker"
      [matDatepickerFilter]="isSaturday"
      [min]="minDate"
      [max]="maxDate"
      [value]="lastSaturday"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
    >
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</form>

@if (!storeLoaded()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

@if (teams().length) {
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="drag-wrapper row"
    (cdkDropListDropped)="drop($event)"
  >
    @for (team of teams(); let idx = $index; track team.id) {
      <div
        class="drag-box"
        cdkDrag
      >
        <h1>
          {{ team.name | uppercase }}
          <sup>#{{ idx + 1 }}</sup>
        </h1>
        <div
          class="drag-handle"
          cdkDragHandle
        >
          <svg
            width="24px"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
          </svg>
        </div>

        @if (modeSignal() === 'create' || modeSignal() === 'edit') {
          <sfl-game-team-create
            [team]="team"
            [mode]="modeSignal()"
          ></sfl-game-team-create>
        } @else {
          Loading or error
        }
      </div>
    }
  </div>
} @else {
  <p>No teams found!</p>
}

@if (storeLoaded() && errors().size) {
  <div class="validation-errors">
    <label for="list">Validations errors:</label>
    <sub>Please fix the following errors</sub>
    <mat-list role="list">
      @for (error of errors() | keyvalue; track error.key) {
        <mat-list-item role="listitem">- {{ error.value }}</mat-list-item>
      }
    </mat-list>
  </div>
}

@if (isAdminSignal()) {
  <hr />
  <h1>DEBUG COMPARE</h1>
  <table style="border: 1px solid black; border-collapse: collapse">
    <thead>
      <tr>
        <th></th>
        <th>Initial</th>
        <th>Current</th>
        <th>On first level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>id</th>
        <td>{{ newGameStore.initialValue()?.id | json }}</td>
        <td>{{ newGameStore.game.id?.() | json }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ newGameStore.initialValue()?.status | json }}</td>
        <td>{{ newGameStore.game.status() | json }}</td>
      </tr>
      <tr>
        <th>number</th>
        <td>{{ newGameStore.initialValue()?.number | json }}</td>
        <td>{{ newGameStore.game.number() | json }}</td>
      </tr>
      <tr>
        <th>season</th>
        <td>{{ newGameStore.initialValue()?.season | json }}</td>
        <td>{{ newGameStore.game.season() | json }}</td>
      </tr>
      <tr>
        <th>playedAt</th>
        <td>{{ newGameStore.initialValue()?.playedAt | json }}</td>
        <td>{{ newGameStore.game.playedAt() | json }}</td>
      </tr>
      <tr>
        <th>createdAt</th>
        <td>{{ newGameStore.initialValue()?.createdAt | json }}</td>
        <td>{{ newGameStore.game.createdAt?.() | json }}</td>
      </tr>
      <tr>
        <th>updatedAt</th>
        <td>{{ newGameStore.initialValue()?.updatedAt | json }}</td>
        <td>{{ newGameStore.game.updatedAt?.() | json }}</td>
      </tr>
      <tr>
        <th>teams</th>
        <td>
          <details>
            <summary>
              Teams:
              <span class="icon">👇</span>
            </summary>
            <pre>{{ newGameStore.initialValue()?.teams | json }}</pre>
          </details>
        </td>
        <td>
          <details>
            <summary>
              Teams:
              <span class="icon">👇</span>
            </summary>
            <pre>{{ newGameStore.game.teams() | json }}</pre>
          </details>
        </td>
      </tr>
      <tr>
        <th>Statistics</th>
        <td>
          <details>
            <summary>
              Statistics:
              <span class="icon">👇</span>
            </summary>
            <pre>{{ newGameStore.initialValue()?.statistics | json }}</pre>
          </details>
        </td>
        <td>
          <details>
            <summary>
              Statistics:
              <span class="icon">👇</span>
            </summary>
            <pre>{{ newGameStore.game.statistics() | json }}</pre>
          </details>
        </td>
        <td>
          <details>
            <summary>
              Statistics:
              <span class="icon">👇</span>
            </summary>
            <pre>{{ newGameStore.statisticsEntities() | json }}</pre>
          </details>
        </td>
      </tr>
    </tbody>
  </table>
}
