:host {
  section {
    display: grid;
    /* padding: 20px 40px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-rows: 1fr;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
  }
}
