<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? "Enable edit mode" : "Disable edit mode" }}
</button>

<p>Selected: {{ stepper.selected?.state | json }}</p>

<mat-stepper linear #stepper>
  <!-- Captain to add (skip) -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Available captains</ng-template>
    <sfl-captain-to-add></sfl-captain-to-add>
    <button mat-flat-button matStepperNext color="primary">Next</button>
  </mat-step>

  <mat-step
    [stepControl]="captainsFormGroup.controls.firstCaptain"
    [editable]="isEditable"
  >
    <ng-template matStepLabel>Choose First Captain</ng-template>
    <sfl-captains-selection
      [team]="teamEnum.TeamA"
      [control]="captainsFormGroup.controls.firstCaptain"
    ></sfl-captains-selection>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step
    [stepControl]="captainsFormGroup.controls.secondCaptain"
    [editable]="isEditable"
  >
    <ng-template matStepLabel>Choose Second Captain</ng-template>
    <sfl-captains-selection
      [team]="teamEnum.TeamB"
      [control]="captainsFormGroup.controls.secondCaptain"
    ></sfl-captains-selection>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <ng-template #noChoosenCaptains>
      Hmm, it seems that captains not choosen yet.
    </ng-template>

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
