<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? "Enable edit mode" : "Disable edit mode" }}
</button>

<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Available captains</ng-template>
    <sfl-captain-to-add></sfl-captain-to-add>
    <button mat-flat-button matStepperNext color="primary">Next</button>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <div
      *ngIf="
        choosenCaptains$().length as choosenCaptains;
        else noChoosenCaptains
      "
    >
      <div *ngFor="let choosenCaptain of choosenCaptains$()">
        <sfl-captain-card
          [captain]="choosenCaptain"
          [variant]="variantEnum.Full"
        ></sfl-captain-card>
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="removeCaptain(choosenCaptain.id)"
        >
          Remove
        </button>
      </div>
    </div>
    <ng-template #noChoosenCaptains>
      Hmm, it seems that captains not choosen yet.
    </ng-template>
    <!-- Captains Cards -->
    <sfl-captains-cards
      *ngIf="availableTeams$().length"
      [captains]="(captains$ | async) ?? []"
      [variant]="variantEnum.Simple"
      captainToChoose
    ></sfl-captains-cards>

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
