<h2>Top plus / minus {{ '&' }} last result players</h2>

<div class="content">
  <highcharts-chart
    [Highcharts]="highcharts"
    [options]="$any(chartOptionsSignal())"
    style="width: 100%; display: block"
  ></highcharts-chart>

  <div class="actions">
    <mat-form-field
      appearance="outline"
      class="season-field"
    >
      <mat-label>Seasons</mat-label>
      <mat-select
        [value]="season()"
        (selectionChange)="onSelect($event)"
      >
        @for (season of seasons(); track season) {
          <mat-option [value]="season">
            {{ season }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
