<mat-form-field>
  <mat-label>Players</mat-label>

  <!-- Chips -->
  <mat-chip-grid #chipGrid>
    @for (
      statistic of playersStatisticsGroupByTeamSignal().alias;
      track statistic.id
    ) {
      <mat-chip-row
        (removed)="removeStatisticPlayer(statistic.id)"
        [value]="statistic"
        [title]="statistic | json"
      >
        {{ statistic.playerData.nickname }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>

  <!-- Search -->
  <input
    placeholder="Enter a player nickname, surname, name or number"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [value]="querySearchSignal()"
    (input)="querySearchSignal.set($any($event).target!.value)"
    autocomplete="off"
  />

  <!-- Autocomplete (dropdown) -->
  <mat-autocomplete #auto="matAutocomplete">
    <mat-selection-list (selectionChange)="onSelect($event)">
      @for (
        statistic of playersOptionList();
        track statistic.id;
        let last = $last
      ) {
        <mat-list-option
          [selected]="!!statistic.teamId"
          [value]="statistic"
          [title]="
            {
              id: statistic.id,
              teamId: statistic.teamId,
              playerId: statistic.playerId,
              user: statistic.playerData.user
            } | json
          "
        >
          {{ statistic.playerData.nickname }}
        </mat-list-option>

        @if (!last) {
          <mat-divider></mat-divider>
        }
      }
      <mat-option [style.display]="'none'"></mat-option>
    </mat-selection-list>

    <div class="mat-autocomplete-footer">
      <button
        mat-raised-button
        (click)="createPlayer()"
      >
        Create player
      </button>
    </div>
  </mat-autocomplete>
</mat-form-field>
