<header>
  <mat-toolbar color="primary">
    <div class="header-menu-and-logo-block">
      <strong>SFL</strong>
      <button
        mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a
        class="logotype"
        mat-button
        href="/"
      >
        <b>Suturday Football League</b>
      </a>
    </div>

    <div class="header-side-block">
      @if (userSignal()) {
        <div>
          <mat-icon fontIcon="person"></mat-icon>
          {{ userSignal()?.email }}
        </div>

        <button
          mat-stroked-button
          (click)="onSignOut()"
          [disabled]="false"
        >
          Logout
          <mat-icon
            fontIcon="logout"
            iconPositionEnd
          ></mat-icon>
        </button>
      } @else {
        <a
          mat-raised-button
          href="/sign-in"
        >
          Sign In
          <mat-icon
            fontIcon="login"
            iconPositionEnd
          ></mat-icon>
        </a>
      }
    </div>
  </mat-toolbar>
</header>

<!-- Main container -->
<mat-sidenav-container
  class="container"
  autosize
>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    class="aside"
  >
    <sfl-aside></sfl-aside>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <div class="footer-logo">SFL</div>
  <div class="footer-content">
    <b>Saturday Football League</b>

    <span>
      Copyright &copy; 2022 |
      <a
        href="https://github.com/dpaniq/sfl"
        class="http"
      >
        dpaniq
      </a>
    </span>
    <span>Version: {{ version }}</span>
  </div>
</footer>
