<header>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nulla
  illo reprehenderit porro sed, doloribus sunt? Ullam facere nemo, non odit fuga
  modi dolore corrupti quod aspernatur beatae vitae doloribus error. Labore,
  expedita. Alias quod veritatis, et nostrum neque iure totam fugiat corporis
  quidem magni. Deleniti, laborum dolores ex nemo animi saepe consequuntur, sed
  sapiente obcaecati error placeat? Animi quisquam a aperiam non vitae. Harum
  nam provident accusamus nisi eos? Itaque praesentium ab ratione perspiciatis
  reiciendis eum repudiandae quam autem rem, cupiditate laudantium facere a
  provident tenetur. Labore incidunt, earum accusamus optio dolor tempore a
  voluptates quo quidem, aspernatur ut nobis culpa sequi sint? Libero
  cupiditate, laudantium assumenda recusandae, dignissimos necessitatibus, dolor
  qui a sunt officiis eaque corrupti ipsam temporibus incidunt excepturi
  eveniet. Nemo recusandae voluptas laboriosam asperiores repudiandae. Et hic
  asperiores velit doloremque officia repellendus est doloribus aliquam suscipit
  soluta ipsa vel facilis, mollitia quas in, cum assumenda officiis?
</header>

<app-aside></app-aside>

<main>
  <router-outlet></router-outlet>
</main>

<footer>footer</footer>
