:host {
  /* display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  grid-template:
    [header-left] "header header header" max-content [header-right]
    [main-left] "container container container  " max-content [main-right]
    [footer-left] "footer footer footer" max-content [footer-right]
    / 1fr 1fr 1fr; */
}

header {
  grid-area: header;

  & a.logotype {
    font-weight: 700;
    text-transform: uppercase;
  }

  > .mat-toolbar {
    display: flex;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
    }
  }

  .header-side-block {
    display: flex;
    gap: 10px;
  }
}

.container {
  margin: 10px auto;
  grid-area: container;
  min-height: calc(100% - 60px);

  & main {
    padding: 20px 10px;
  }

  & .aside {
    width: max-content;
  }
}

footer {
  grid-area: footer;
}
