:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  grid-template:
    [header-left] "header header header" max-content [header-right]
    [main-left] "  aside main   main  " max-content [main-right]
    [footer-left] "aside footer footer" max-content [footer-right]
    / 100px 1fr 1fr;
}

header {
  grid-area: header;

  & a.logotype {
    font-weight: 700;
    text-transform: uppercase;
  }

  > .mat-toolbar {
    display: flex;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
    }
  }
}

app-aside {
  grid-area: aside;
}

main {
  margin: 10px auto;
  padding: 0 10px;
  grid-area: main;
  width: 1200px;
}

footer {
  grid-area: footer;
}
