<table
  mat-table
  [dataSource]="dataSource()"
  class="mat-elevation-z1"
>
  @for (column of columns; track column) {
    <!-- None increment/decrement logic -->
    @if (['nickname'].includes(column.columnDef)) {
      <ng-container [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          {{ column.header }}
        </th>

        <td
          mat-cell
          *matCellDef="let row"
        >
          {{ column.cell(row) }}
        </td>
      </ng-container>
    } @else if (column.columnDef === 'isMVP') {
      <ng-container [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          {{ column.header }}
        </th>

        <td
          mat-cell
          *matCellDef="let row"
        >
          <mat-slide-toggle
            #mvpToggle
            [checked]="row.isMVP"
            (change)="toggleIsMVP(row)"
          ></mat-slide-toggle>
        </td>
      </ng-container>
    } @else if (column.columnDef === 'isCaptain') {
      <ng-container [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          {{ column.header }}
        </th>

        <td
          mat-cell
          *matCellDef="let row"
        >
          <mat-slide-toggle
            #isCaptainToggleRef
            [checked]="row.isCaptain"
            (change)="toggleIsCaptain(row)"
          ></mat-slide-toggle>
        </td>
      </ng-container>
    } @else if (column.columnDef === 'isTransfer') {
      <ng-container [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          <mat-icon
            fontIcon="repeat"
            matTooltip="Transferable (such a player play for both teams)"
          ></mat-icon>
        </th>

        <td
          mat-cell
          *matCellDef="let row"
        >
          @if (row.disableAsCaptain) {
            <b>C</b>
          } @else {
            <mat-slide-toggle
              #playedForToggle
              [checked]="row.isTransfer"
              (change)="toggleIsTransfer(row, $event.checked)"
              [disabled]="row.isCaptain"
            ></mat-slide-toggle>
          }
        </td>
      </ng-container>
    } @else {
      <ng-container [matColumnDef]="column.columnDef">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          {{ column.header }}
        </th>

        <td
          mat-cell
          *matCellDef="let row"
        >
          <span class="row">
            <!-- TODO: make component -->
            <button
              [disabled]="!row[column.key!]"
              (click)="patchStatistic(row, column.key!, 'decrement')"
            >
              -
            </button>

            <b>{{ column.cell(row) }}</b>

            <button (click)="patchStatistic(row, column.key!, 'increment')">
              +
            </button>
          </span>
        </td>
      </ng-container>
    }
  }

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
