.row {
  display: flex;
  gap: 2px 5px;
}

button {
  cursor: pointer;
}
table {
  width: 100%;
  text-align: center;
}

.mat-mdc-table {
  background-color: unset;
}

.mat-header-cell,
.mat-cell {
  text-align: center; /* Center-align text horizontally */
  justify-content: center; /* For flex-based alignment */
  padding: 0px 4px; /* Adjust padding as needed */
}

.reorder {
  color: #ccc;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  padding: 0;
  justify-content: center;
}

.mat-column-passes,
.mat-column-goalsByLeg,
.mat-column-goalsByHead,
.mat-column-goalsByPenalty {
  width: 70px;
}

.mat-column-order,
.mat-column-isMVP,
.mat-column-isCaptain,
.mat-column-isTransfer {
  padding: 0;
  max-width: 40px;
}

.draggable-row {
  margin-right: 16px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
