<mat-table
  cdkDropList
  [dataSource]="dataSource()"
  (cdkDropListDropped)="drop($event)"
  class="mat-elevation-z1"
>
  @for (column of columns; track column) {
    @if (['order'].includes(column.columnDef)) {
      <ng-container
        [matColumnDef]="column.columnDef"
        sticky
      >
        <mat-header-cell *matHeaderCellDef>
          <mat-icon
            class="reorder"
            fontIcon="reorder"
          ></mat-icon>
        </mat-header-cell>

        <mat-cell *matCellDef="let element">
          <mat-icon
            class="reorder"
            fontIcon="reorder"
          ></mat-icon>
        </mat-cell>
      </ng-container>

      <!-- None increment/decrement logic -->
    } @else if (['nickname'].includes(column.columnDef)) {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          {{ column.cell(row) }}
        </mat-cell>
      </ng-container>
    } @else if (column.columnDef === 'position') {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <select (change)="changePosition(row, $any($event.target).value)">
            <option
              [value]="null"
              [selected]="row.position === null"
              disabled
            >
              -
            </option>
            <option
              [value]="enumPlayerPosition.Goalkeeper"
              [selected]="row.position === enumPlayerPosition.Goalkeeper"
            >
              GP
            </option>
            <option
              [value]="enumPlayerPosition.Defender"
              [selected]="row.position === enumPlayerPosition.Defender"
            >
              DEF
            </option>
            <option
              [value]="enumPlayerPosition.Midfielder"
              [selected]="row.position === enumPlayerPosition.Midfielder"
            >
              MID
            </option>
            <option
              [value]="enumPlayerPosition.ForwardStriker"
              [selected]="row.position === enumPlayerPosition.ForwardStriker"
            >
              FRWD
            </option>
          </select>
        </mat-cell>
      </ng-container>
    } @else if (column.columnDef === 'isMVP') {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <mat-slide-toggle
            #mvpToggle
            [checked]="row.isMVP"
            (change)="toggleIsMVP(row)"
          ></mat-slide-toggle>
        </mat-cell>
      </ng-container>
    } @else if (column.columnDef === 'isCaptain') {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <mat-slide-toggle
            #isCaptainToggleRef
            [checked]="row.isCaptain"
            (change)="toggleIsCaptain(row)"
          ></mat-slide-toggle>
        </mat-cell>
      </ng-container>
    } @else if (column.columnDef === 'isTransfer') {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          <mat-icon
            fontIcon="repeat"
            matTooltip="Transferable (such a player play for both teams)"
          ></mat-icon>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          @if (row.disableAsCaptain) {
            <b>C</b>
          } @else {
            <mat-slide-toggle
              #playedForToggle
              [checked]="row.isTransfer"
              (change)="toggleIsTransfer(row, $event.checked)"
              [disabled]="row.isCaptain"
            ></mat-slide-toggle>
          }
        </mat-cell>
      </ng-container>
    } @else {
      <ng-container [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <span class="row">
            <!-- TODO: make component -->
            <button
              [disabled]="!row[column.key!]"
              (click)="patchStatistic(row, column.key!, 'decrement')"
            >
              -
            </button>

            <b>{{ column.cell(row) }}</b>

            <button (click)="patchStatistic(row, column.key!, 'increment')">
              +
            </button>
          </span>
        </mat-cell>
      </ng-container>
    }
  }

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    class="draggable-row"
    *matRowDef="let row; columns: displayedColumns"
    cdkDrag
    [cdkDragData]="row"
  ></mat-row>
</mat-table>
