<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontIcon="list"></mat-icon>
      List of players
    </ng-template>

    <div class="tab-container">
      <div class="tab-header">
        <sfl-player-create-button />
      </div>

      <div class="tab-content">
        <sfl-players-table></sfl-players-table>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="user.isAdmin">
    <ng-template mat-tab-label>
      <mat-icon fontIcon="manage_accounts"></mat-icon>
      Admin panel
    </ng-template>

    <sfl-players-admin-widget></sfl-players-admin-widget>
  </mat-tab>
</mat-tab-group>
