:host {
  .tab-container {
    margin: 12px 24px;

    > .tab-header {
      display: flex;
      justify-content: flex-end;
    }

    > .tab-content {
      margin: 12px 0;

      height: 800px;
      overflow-y: auto;
    }
  }
}
