@if ([enumGameStatus.New, enumGameStatus.Draft].includes(gameCard().status)) {
  <mat-card
    class="card-border"
    [class]="wonTeamClass() | lowercase"
  >
    <mat-card-header>
      <mat-card-title>
        Game {{ gameCard().number }}
        <sub>/ {{ TOTAL_GAMES_OF_YEAR }}</sub>
      </mat-card-title>
      <mat-card-subtitle>
        {{ gameCard().playedAt | date }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div
        class="score-cover"
        [class]="wonTeamClass() | lowercase"
      >
        @if (wonTeamClass()) {
          <img
            class="team-logo"
            [src]="
              '/assets/images/logo/' + (wonTeamClass() | lowercase) + '.webp'
            "
            [alt]="wonTeamClass()"
          />
        }
        <div class="score-wrapper">
          <p
            class="score"
            [textContent]="gameCard().metadata?.scoreFirstDraft"
            [matTooltip]="gameCard().teams[0].name"
          ></p>
          <p class="colomn">:</p>
          <p
            class="score"
            [textContent]="gameCard().metadata?.scoreSecondDraft"
            [matTooltip]="gameCard().teams[1].name"
          ></p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
      <button
        mat-button
        mat-flat-button
        color="primary"
        (click)="openDetails()"
      >
        Details
      </button>

      @if (authService.isAdmin()) {
        <button
          mat-button
          mat-flat-button
          color="primary"
          (click)="edit()"
        >
          Edit
          <mat-icon fontIcon="edit"></mat-icon>
        </button>

        <button
          mat-button
          mat-flat-button
          color="warn"
          (click)="delete()"
        >
          Delete
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      }
    </mat-card-actions>
  </mat-card>
}

<!-- Game was played but no update yet -->
@if (hasGamePlayed() && gameCard().status === enumGameStatus.Furture) {
  <mat-card class="played-game">
    <mat-card-header>
      <mat-card-title>
        Game {{ gameCard().number }}
        <sub>/ {{ TOTAL_GAMES_OF_YEAR }}</sub>
      </mat-card-title>
      <mat-card-subtitle>{{ gameCard().playedAt | date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="score-cover">
        <div class="game-was-played">
          <p>The game will be updated soon</p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      @if (authService.isAdmin()) {
        <button
          mat-raised-button
          color="primary"
          (click)="createGame()"
        >
          Create game
        </button>
      }
    </mat-card-actions>
  </mat-card>
}

<!-- Game was not played  -->
@if (!hasGamePlayed() && gameCard().status === enumGameStatus.Furture) {
  <mat-card class="card-border further-game">
    <mat-card-header>
      <mat-card-title>
        Game {{ gameCard().number }}
        <sub>/ {{ TOTAL_GAMES_OF_YEAR }}</sub>
      </mat-card-title>
      <mat-card-subtitle>
        {{ gameCard().playedAt | date }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="score-cover">
        <div class="game-was-not-played">
          <p>Days remaining until the match</p>
          <p class="days-left">{{ daysLeft() }}</p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      @if (authService.isAdmin()) {
        <button
          mat-raised-button
          color="primary"
          (click)="createGame()"
        >
          Create game
        </button>
      }
    </mat-card-actions>
  </mat-card>
}
