teamFC {{ teamFC.value | json }}
<hr />
teams$ {{ teams$ | async | json }}
<hr />
<div class="column">
  <div class="row">
    <mat-form-field>
      <mat-label>Team</mat-label>
      <mat-select [formControl]="teamFC">
        <mat-option>-</mat-option>
        @for (team of teams$ | async; track team) {
        <mat-option [value]="team.name" [disabled]="team.disable">{{
          team.name
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <hr />
    captainFC: {{ captainFC.value | json }}
    <hr />
    captains$: {{ captains$ | async | json }}
    <mat-form-field>
      <mat-label>Captain</mat-label>
      <mat-select [formControl]="captainFC" [compareWith]="captainCompareFn">
        <mat-option>-</mat-option>
        @for (captain of captains$ | async; track captain) {
        <mat-option [value]="captain" [disabled]="captain.team">{{
          captain.nickname
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  playersFC$: {{ playersFC.value | json }}
  <mat-form-field>
    <mat-label>Players</mat-label>
    <mat-select
      multiple
      [formControl]="playersFC"
      [compareWith]="playersCompareFn"
    >
      @for (player of players$ | async; track player) {
      <mat-option
        [value]="player"
        [disabled]="player.team && player.id === captainFC.value?.id"
        >{{ player.nickname }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- List -->
  <mat-list>
    <div mat-subheader>Team: {{ teamFC.value }}</div>
    @for (player of teamPlayers$ | async; track player) {
    <mat-list-item>
      <mat-icon matListItemIcon icon="folder" />
      <div matListItemTitle>{{ player.nickname }}</div>
      <div matListItemLine>{{ player.isCaptain }}</div>
    </mat-list-item>
    }
  </mat-list>
</div>
