nav.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;

  font-weight: 800;

  > mat-icon {
    font-size: 35px;
    width: 40px;
  }

  & a {
    color: white;
    font-size: 15px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    gap: 0 5px;
    flex-basis: 1;

    /**
      :link — Selects unvisited links.
      :visited — Selects visited links.
      :hover — Selects when the link is hovered.
      :active — Selects when the link is clicked.
      :focus — Selects when the link is focused.
    */

    &:visited {
      color: gainsboro;
    }

    &.active {
      color: yellow;
    }

    &:hover {
      color: gold;
    }
  }
}
