<h1>Player details</h1>
@if (loading()) {
  <mat-progress-bar mode="indeterminate" />
}
<br />

@if (!player()) {
  <div class="skeletons">
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
    <div class="skeleton"></div>
  </div>
} @else {
  <form>
    <mat-form-field>
      <mat-label>id</mat-label>
      <input
        matInput
        type="text"
        readonly
        [value]="player()?.id"
      />
      <button
        matSuffix
        mat-icon-button
        readonly
        type="button"
        color="primary"
        (click)="copy(player()!.id)"
      >
        <mat-icon
          fontIcon="content_copy"
          color="primary"
        ></mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input
        matInput
        type="text"
        readonly
        [value]="player()?.nickname | nilToDash"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Number</mat-label>
      <input
        matInput
        type="number"
        readonly
        [value]="player()?.number | nilToDash"
      />
    </mat-form-field>

    <div class="user-fieldset">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          readonly
          [value]="player()?.user?.email | nilToDash"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          readonly
          [value]="player()?.user?.name | nilToDash"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input
          matInput
          type="text"
          readonly
          [value]="player()?.user?.surname | nilToDash"
        />
      </mat-form-field>
    </div>
  </form>
}
