:host {
  width: 100%;

  mat-list-item {
    height: max-content;
    height: 100px;
  }
}

mat-accordion {
  margin: 4px 0;
}
:host ::ng-deep .additional-data .mat-expansion-panel-body {
  padding: 0 10px;
  margin: 0;
}

.mat-mdc-list-item {
  height: 100px;
}

.column {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 10px;
}

.flex {
  display: flex;
  &.space-evenly {
    gap: 10px;
    justify-content: space-evenly;

    mat-list-item {
      height: fit-content;
    }
  }
}
