<sfl-players-autocomplete
  [mode]="mode()"
  [teamId]="teamId()"
/>

<mat-accordion
  class="additional-data"
  multi
>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Note</mat-panel-title>
      <mat-panel-description>Add a team note</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea
        matInput
        type="text"
        [formControl]="noteFC"
        placeholder="Enter a team note"
        [rows]="5"
      ></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<sfl-game-create-player-statistics [teamId]="teamId()" />
